/* google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     scroll-behavior: smooth;
}
:root{
     --main-clr:#1abc9c;
     --clr-2:#fd9678;
     --black:#1f2732;
     --pclr:rgb(57, 57, 57);
     --blk-bg:#1f2732;
}
::selection{
     color: #fff;
     background:var(--clr-2);
}
.btn{
     font-size: 1.1rem;
     color: #fff;
     padding: .6rem 1rem;
     background: var(--clr-2);
     border-radius: 50px;
     text-transform: capitalize;
     box-shadow: 0px 0px 0px 4px rgb(253 150 120 / 15%);
     transition: .5s;
}
.btn:hover{
     background:var(--main-clr);
     box-shadow: 0px 0px 0px 4px rgb(26 188 156 / 15%);
}


/* top navbar  */
.top-nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem 6rem;
     background:var(--main-clr);
     color: #fff;
}
.top-nav a{
     color: #fff;
}
.top-nav .left , .top-nav .right{
     display: flex;
     align-items: center;
     gap: .5rem;
}
.top-nav .left i, .top-nav .right i{
     padding: .5rem;
     border-radius: 50%;
     background: var(--clr-2);
}
/* top navbar  */

/* navbar */
.menu i{
     font-size: 1.5rem;
     display: none;
}
.navbar{
     padding: 1rem 6rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: #fff;
     box-shadow: 0 10px 20px 0 rgb(0 0 0 / 3%);
}
.navbar .center a{
     color: var(--black);
     padding: 0 .5rem;
     font-size: 1.1rem;
     text-transform: capitalize;
     transition: .5s;
     font-weight: 400;
}
.navbar .center a:hover{
     color: var(--clr-2);
}
.navbar .left h1{
     font-size: 2rem;
     font-weight: 600;
     color: var(--clr-2); 
}
.navbar .left h1 span{
     font-weight: 400;
     color: var(--main-clr);
}
/* navbar */

/* header */
.header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100vh;
     width: 100%;
     overflow: hidden;
     padding: 2rem 6rem;
     position: relative;
}

.header .right img{
     width: 42rem;
     position: absolute;
     bottom: 0;
     right: 3%;
}
.header .right::after{
     content: '';
     width: 60%;
     height: 200vh;
     position: absolute;
     background-color: var(--main-clr);
     bottom: -50%;
     right: -25%;
     z-index:-1;
     transform: rotate(10deg);
}
.header .left{
     width: 50%;
}
.h2p{
     font-size: 1.3rem;
     font-weight: 500;
     margin-bottom: .7rem;
     color: var(--main-clr);
     position: relative;
}
.h2p::after{
     position: absolute;
     content: '';
     width: 50px;
     height: 2px;
     background: #1abc9c;
     top: 0;
     bottom: 0;
     margin: auto 0 auto 15px;
}
.header .left h1{
     font-size: 3rem;
     color: var(--black);
     margin-bottom: 1rem;
     font-weight: 800;
}
.header .left .p2h{
     color: rgb(57, 57, 57);
     font-size: 1rem;
     margin-bottom: 2rem;
}

/* header */


/* services */
.services{
     padding: 4rem 6rem;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 3rem;
}
.services .service{
     padding: 20px;
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 0 20px 0 #eee;
     margin-bottom: 30px;
     text-align: center;
     position: relative;
     transition: 0.3s;
}
.services .service:hover{
     box-shadow: 3px 3px 0 5px rgb(253 150 120 / 15%);
}
.service img{
     width: 100px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto 20px;
     border-radius: 10px;
     background: #4fcecd;
     box-shadow: 0 0 0 5px rgb(79 206 205 / 15%);
     padding: 1rem;
}
.service-2-img{
     background: #fd9678 !important;
     box-shadow: 0 0 0 5px rgb(253 150 120 / 15%) !important;
}
.service-3-img{
     background: #5aa2ec !important;
     box-shadow: 0 0 0 5px rgb(90 162 236 / 15%) !important; 
}
.service-4-img{
     background: #fbbb1c !important;
     box-shadow: 0 0 0 5px rgb(251 187 28 / 15%) !important;
}
.service h3{
     display: block;
     font-size: 1.17em;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
}
.service p{
     color: var(--black);
     font-size: 1rem;
}
.service i{
     font-weight: bolder;
     padding: 1rem;
     border-radius: 50%;
     background: var(--clr-2);
     transform: translateY(4rem);
     transition: .5s;
     opacity: 0;
}
.service i:hover{
     background: var(--main-clr);
     color: white;
}
.service:hover.service i{
     opacity: 1;
     transform: translateY(1rem);
}
/* services */

/* about */
.about{
     padding: 2rem 6rem;
     background: #fffaf9;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 3rem;
}
.about .left img{
     border-top-right-radius: 50%;
     border-top-left-radius: 20%;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
}
.about .h2p{
     font-size: 1.6rem;
}
.about .right h1{
     font-size: 3rem;
     color: var(--black);
     margin-bottom: 1rem;
}
.about .right .hp2{
     font-size: 1.1rem;
     color: var(--black);
     margin-bottom: 2rem;
}
p{
     line-height: 2rem;
}
/* about */

/* why-us */
.why-us{
     padding: 4rem 6rem;
     background: var(--main-clr);
}
.why-us .heading{
     font-size: 3rem;
     color: #fff;
     font-weight: 600;
     text-align: center;
}
.why-us .achievements{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     align-items: top;
     gap: 3rem;
     margin-top: 2rem;
}
.why-us .achievements .content{
     padding: 1.5rem;
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 6px 10px 0 rgba(171, 171, 171, 0.44);
}
.content .name{
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 1rem 0;
     gap: 1rem;
}
.content .name h3{
     font-size: 1.2rem;
     color: var(--black);
}
/* why-us */


/* team */
.team{
     padding: 4rem 6rem;
}
.team .heading{
     text-align: center;
     margin-bottom: 5rem;
}
.team .heading h1{
     font-size: 2.7rem;
     color: var(--black);
}
.doctors{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     gap: 3rem;
}
.doctors .doctor{
     text-align: center;
     padding: 1.5rem;
     background: #fff;
     box-shadow: 0 0 20px 0 #eee;
     text-align: center;
     border-radius: 10px;
     position: relative;
     width: 100%;
     transition: .5s;
     cursor: pointer;
}
.doctor:hover{
     box-shadow: 3px 3px 0 5px rgb(253 150 120 / 15%);
     transform: translateY(-.3rem);
}
.doctor img{
     width: 100px;
     height: 100px;
     display: block;
     margin: auto;
     margin-bottom: 1rem;
     object-fit: cover;
     border-radius: 100%;
     box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
     border: 1px solid #fff;
}
.dr-name{
     font-size: 24px;
     margin-bottom: .5rem;
     counter-reset: var(--black);
     font-weight: 500;
}
.doctor h4{
     font-size: 1.3rem;
     color: #1abc9c;
     margin-bottom: 1rem;
     margin-top: 10px;
     font-weight: 400;
}
.doctor p{
     color: var(--black);
     font-size: 1rem;
}
.doctor .fa-star, .fa-star-half{
     padding: 1rem 0;
     color: var(--clr-2);
}
.dr-social{
     border-top: 1px solid rgba(128, 128, 128, 0.188);
     padding-top: 1rem;
     transition: .5s;
     
}
.doctor:hover .dr-social i{
     transform: rotate(360deg);
}
.dr-social i{
     width: 35px;
     height: 35px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #eee;
     font-size: 16px;
     border-radius: 100%;
     color: var(--black);
     transition: .5s;
     margin: 0 .3rem;
}
.dr-social i:hover{
     box-shadow: 0 0 0 3px rgb(253 150 120 / 15%);
     color: var(--clr-2);
}
/* team */

/* contact */
.contact{
     padding: 4rem 6rem;
     display: flex;
     align-items: top;
     justify-content: space-between;
     gap: 2rem;
}
.contact .heading h1{
     color: var(--black);
     font-size: 3rem;
     margin-bottom: 2rem;
}
.contact .left img{
     transition: .5s;
     cursor: pointer;
     width: 100%;
}
.contact .left img:hover{
     filter: hue-rotate(480deg);
}
.contact .right form{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     width: 100%;
}
.contact .right form label{
     font-size: 1.1rem;
     color: var(--black);
}
.contact .right form button{
     outline: none;
     border: none;
     margin-top: 1rem;
}
.contact .right form input, textarea{
     border: 1px solid #eee;
     outline: none;
     padding: 10px 15px;
     border-radius: 50px;
     width: 30rem;
     color: var(--main-clr);
     font-size: 1rem;
}
textarea{
     border-radius: 10px;
     height: 130px;
     resize: none;
}
/* contact */


/* footer */
.footer{
     padding: 2rem 6rem;
     border-top: 6px solid var(--clr-2);
     background-color:var(--blk-bg);
     position: relative;
     overflow: hidden;
     width: 100%;
     z-index: 232;
     margin-top: 2rem;
     color: rgb(255, 255, 255);
}
.footer-contact{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: top;
     gap: 4rem;
     margin: 2rem 0;
     margin-bottom: 4rem;
     border-top: 1px solid rgba(128, 128, 128, 0.477);
     border-bottom: 1px solid rgba(128, 128, 128, 0.477);
     padding: 2rem 3rem;
     text-align: center;
}
.contact-widget h1{
     color: rgba(255, 255, 255, 0.934);
     text-transform: uppercase;   
     overflow: hidden;
     position: relative;
     margin-bottom: 1rem;
     font-size: 2rem;
}
.contact-widget p, .contact-widget a{
     color: rgba(255, 255, 255, 0.934);
     font-size: 1rem;
     transition: .5s;
}
.contact-widget p:hover, .contact-widget a:hover{
     color: var(--clr-2);
}
.footer-widgets{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     align-items: top;
     justify-content: space-between;
     gap: 2rem;
     margin-bottom: 2rem;
     margin-top: 2rem;
}
.widget h1{
     color: rgba(255, 255, 255, 0.934);
     text-transform: uppercase;   
     overflow: hidden;
     position: relative;
     margin-bottom: 2.5rem;
     padding-bottom: .7rem;
}
.widget h1:after{
     content: '';
     position: absolute;
     width: 3rem;
     height: 4px;
     background: var(--main-clr);
     left: 0;
     bottom: 0;
}
.widget{
     display: flex;
     flex-direction: column;
}
.widget a{
     color: #fff;
     transition: .5s;
     text-transform: capitalize;
     font-weight:300;
     font-family:var(--main-font);
     padding: .4rem 0;
     list-style-type: circle;
     font-size: 1rem;
}
.widget a:hover{
     color: var(--main-clr);
}
.widget4 p{
     color: #fff;
     padding: .5rem 0;
}
.copyright{
     padding: 1rem;
     border-top: 1px solid rgba(128, 128, 128, 0.435);
     border-bottom: 1px solid rgba(128, 128, 128, 0.435);
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.copyright p{
     color: #fff;
     font-size: 1.1rem;
}
.copyright i{
     color: #fff;
     padding: 0 .5rem;
     font-size: 1.4rem;
     cursor: pointer;
     transition: .5s;
}
.copyright i:hover{
     color: var(--main-clr);
}
/* footer */